@use "./variables" as *;

body {
    background-color: $dark;
}

.hidden {
    height:0;
    overflow:hidden;
}

#projects {
    .projectsContainer{
        .project{
            h2 {
                color:$light
            }
            .projectContainer{
                height:300px;
                width:400px;
                overflow:hidden;
                position:relative;

                .topSlide{
                    top:0;
                    position:absolute;
                    background-color:rgb(255, 255, 255, 0.8);
                    height:50%;
                }

                .bottomSlide{
                    bottom:0;
                    position:absolute;
                    background-color:rgb(255, 255, 255, 0.8);
                    height:50%;
                    width:100%;
                    // padding:50px;

                    .skillFlex{
                        display:flex;
                        align-items:center;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap:5px;
                        
                        .skill {
                            background-color:$primary;
                            padding: 1px 10px;
                            color:$light;
                            border-radius:20px;
                        }
                    }


                }
            }
        }
    }



}